
Rumble Controller/.vs/Rumble Controller/config/applicationhost.config

Rumble Controller/.vs/Rumble Controller/v16/.suo

Rumble Controller/.vs/Rumble Controller/v16/Server/sqlite3/db.lock

Rumble Controller/.vs/Rumble Controller/v16/Server/sqlite3/storage.ide

Rumble Controller/.vs/Rumble Controller/v16/Server/sqlite3/storage.ide-shm

Rumble Controller/.vs/Rumble Controller/v16/Server/sqlite3/storage.ide-wal

Rumble Controller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Rumble Controller/obj/Debug/Rumble Controller.csprojAssemblyReference.cache

Rumble Controller/References/Beat Saber_Data/Managed

Rumble Controller/References/Libs

Rumble Controller/References/Plugins
